.busqueda{
    text-align: right;
}

.searchInput{
    border: 0px;
    border-radius: 15px;
    padding: 12px;
    margin-left: 20px;
    margin-right: 5px;

}

.searchButton{
    border: 0px;
    border-radius: 0px 15px 15px 0px ;
    padding: 12px;
    transition: 0.5s;
}

.searchButton:hover{
    color:white;
    background-color: rgb(85, 125, 211);
}